<?php
//********** PLEASE EDIT THE FOLLOWING **********//
// Paths and directories must include a trailing slash!!!
$yaptc_dirpath  = '/usr/share/nginx/html/yaptc/'; // Absolute directory path to the root of this program
$yaptc_webpath  = 'http://server-ip/yaptc/';      // Absolute URL to the root of this program
$yaptc_appname  = 'Timecard System';              // Program name to display in title bar
$yaptc_company  = 'Widgets, Inc.';                // Your company name
$yaptc_db       = new PDO('mysql:host=localhost;dbname=YOUR_DATABASE;charset=utf8', 'YOUR_USER', 'YOUR_PASSWORD'); // Database connection string
$yaptc_adminmsg = '';                             // Message will display on all pages!






//********** NO NEED TO EDIT PAST HERE **********//
$yaptc_db->setAttribute(PDO::ATTR_ERRMODE, PDO::ERRMODE_EXCEPTION); // Advanced PDO handling
$yaptc_db->setAttribute(PDO::ATTR_EMULATE_PREPARES, false);         // Advanced PDO handling
$_SESSION['yaptc_dir'] = $yaptc_dirpath;                            // Put absolute directory path in session
$_SESSION['yaptc_url'] = $yaptc_webpath;                            // Put absolute url path in session
$yaptc_inc             = $yaptc_dirpath . 'includes/';              // Concatenate an includes directory path
$yaptc_incweb          = $yaptc_webpath . 'includes/';              // Concatenate an includes url path
$yaptc_lib             = $yaptc_dirpath . 'lib/';                   // Concatenate a lib directory path
$yaptc_libweb          = $yaptc_webpath . 'lib/';                   // Concatenate a lib url path
?>
